.footer {
  background-color: #fff;
  padding: 1.5rem 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  color: var(--light-text);
  font-size: 0.9rem;
}